
.memoryCard {
display: inline-block;
width: 100px;
height: 125px;
margin: 5px;
cursor: pointer;
position: relative;
perspective: 800px;
}

.memoryCardInner{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.memoryCardFront, .memoryCardBack{
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
}
.memoryCardFront{
   font-size: 30px;
   padding-top: 20px;
   transform: rotateY(180deg);
   background: url(./img/Face-of-card.svg)
}

.memoryCardInner.flipped {
transform: rotateY(180deg);
}
