.App {
  text-align: center;
}

.App-header {
  height: 80px;
  padding-top: 20px;
  padding-bottom: 100px;
  color: #595959;
}

.App-title {
  font-size: 50px;
  font-family: 'Londrina Solid', cursive;
}

.App-intro {
  font-size: large;
}

.Play-area {

}

.Card-row {

}

.Symbol {
  width: 66px;
  padding-top: 45px;
}
