.App {
    text-align: center;
  }

  .startHeader h1 {
    padding-bottom: 5px;
    padding-top: 25vh;
    color: #B23A77;
    font-size: 75px;
  }
button {
    width:100px;
    height:40px;
	border: solid 3px black;
	box-shadow: 5px 5px rgba(0,0,0,0.14);
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.14);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.14);
    -o-box-shadow: 5px 5px rgba(0,0,0,0.14);
    font-size: large;
    cursor: pointer;
  }
button:hover {
    transition:all 0.3s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
  a:link {
    text-decoration: none;
}