.App {
    text-align: center;
  }

  .startHeader h1 {
    padding-top: 10vh;
    font-size: 75px;
  }
  .startHeader h2 {
    padding-bottom: 5vh;
    letter-spacing: 0.05em;
  }
  
.buttonOld {
    width:115px;
    height:50px;
    margin-top: 15px;
	border: solid 3px black;
	box-shadow: 5px 5px rgba(0,0,0,0.8);
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.8);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.8);
    -o-box-shadow: 5px 5px rgba(0,0,0,0.8);
    font-size: large;
    cursor: pointer;
  }
  .spook {
    width:200px;
    height:100px;
    background: #F4AA61;
    border: solid 5px #DB9957;
    font-size: large;
    cursor: pointer;
    font-family: 'Londrina Solid', cursive;
    border-radius: 10px;
  }
button:hover {
    transition:all 0.3s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
  a:link {
    text-decoration: none;
}

.startIcon {
  width: 70%;
}
.startText{
  text-align: left;
  width: 75%;
}